@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gilligan</h1>
    <p class="lead">Music for a desert island.</p>
    <!--/<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Top Songs</h2>
        <p><input type="button" value="Top Songs" onclick="@("window.location.href='" + @Url.Action("SongRatings", "Rating") + "'");" /></p>
    </div>
    <div class="col-md-4">
        <h2>Top Songs by Genre</h2>
        <p><input type="button" value="Top Songs Genre" onclick="@("window.location.href='" + @Url.Action("GenreRatings", "Rating") + "'");" /></p>
    </div>
    <div class="col-md-4">
        <h2>Top Artists</h2>
        <p><input type="button" value="Top Artists" onclick="@("window.location.href='" + @Url.Action("ArtistRatings", "Rating") + "'");" /></p>
    </div>
    <div class="col-md-4">
        <h2>Top Albums</h2>
        <p><input type="button" value="Top Albums" onclick="@("window.location.href='" + @Url.Action("AlbumRatings", "Rating") + "'");" /></p>
    </div>
</div> 